@charset "UTF-8";
@font-face {
  font-family: 'iconset';
  src: url("fonts/iconset.eot?85276767");
  src: url("fonts/iconset.eot?85276767#iefix") format("embedded-opentype"), url("fonts/iconset.woff?85276767") format("woff"), url("fonts/iconset.ttf?85276767") format("truetype"), url("fonts/iconset.svg?85276767#iconset") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Umbrage';
  src: url("fonts/umbrage/umbrage2.eot");
  src: local("тШ║"), url("fonts/umbrage/umbrage2.woff") format("woff"), url("fonts/umbrage/umbrage2.ttf") format("truetype"), url("fonts/umbrage/umbrage2.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pe-icon-7-stroke';
  src: url("fonts/pe-icon/Pe-icon-7-stroke.eot");
  src: url("fonts/pe-icon/Pe-icon-7-stroke.eot?#iefixd7yf1v") format("embedded-opentype"), url("fonts/pe-icon/Pe-icon-7-stroke.woff") format("woff"), url("fonts/pe-icon/Pe-icon-7-stroke.ttf") format("truetype"), url("fonts/pe-icon/Pe-icon-7-stroke.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'iconset';
    src: url('fonts/iconset.svg?74943459#iconset') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "iconset";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-facebook-squared:before {
  content: '\e800';
}

/* 'юаА' */
.icon-facebook:before {
  content: '\e801';
}

/* 'юаБ' */
.icon-linkedin-squared:before {
  content: '\e802';
}

/* 'юаВ' */
.icon-linkedin:before {
  content: '\e803';
}

/* 'юаГ' */
.icon-twitter:before {
  content: '\e804';
}

/* 'юаД' */
.icon-twitter-squared:before {
  content: '\e805';
}

/* 'юаЕ' */
.icon-gplus:before {
  content: '\e806';
}

/* 'юаЖ' */
.icon-gplus-squared:before {
  content: '\e807';
}

/* 'юаЗ' */
.icon-instagram:before {
  content: '\e808';
}

/* 'юаИ' */
.icon-mail:before {
  content: '\e809';
}

/* 'юаЙ' */
.icon-menu:before {
  content: '\e80a';
}

/* 'юаК' */
.icon-cancel:before {
  content: '\e80b';
}

/* 'юаЛ' */
.icon-left-open-big:before {
  content: '\e80c';
}

/* 'юаМ' */
.icon-right-open-big:before {
  content: '\e80d';
}

/* 'юаН' */
.icon-left-open:before {
  content: '\e80e';
}

/* 'юаО' */
.icon-right-open:before {
  content: '\e80f';
}

/* 'юаП' */
.icon-down-open:before {
  content: '\e810';
}

/* 'юаР' */
.icon-up-open:before {
  content: '\e811';
}

/* 'юаС' */
.icon-calendar:before {
  content: '\e812';
}

/* 'юаТ' */
.icon-check-empty:before {
  content: '\e813';
}

/* 'юаУ' */
.icon-ok-squared:before {
  content: '\e814';
}

/* 'юаФ' */
.icon-globe:before {
  content: '\e815';
}

/* 'юаХ' */
