@media screen and (max-width: 1110px) {
  .header-overlay {
    height: 60px;
  }

  .main-header .logo {
    max-width: 160px;
  }
  .main-header .topnav-toggle {
    display: block;
  }
  .main-header .topnav-wrap {
    display: block;
    opacity: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    padding-top: 80px;
    padding-right: 0;
    background: rgba(0, 0, 0, 0.93);
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
    text-align: center;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .main-header .topnav-wrap.in {
    opacity: 1;
    pointer-events: auto;
    z-index: 1000;
  }
  .main-header .topnav-wrap .main-nav {
    width: 100%;
    float: left;
    position: relative;
    height: 80vh;
    overflow: auto;
  }
  .main-header .topnav-wrap .main-nav li {
    width: 100%;
    float: left;
    position: relative;
  }
  .main-header .topnav-wrap .main-nav li a {
    width: 100%;
    float: left;
    position: relative;
    padding: 5px 10px;
    margin-bottom: 14px;
    text-transform: uppercase;
    font: 400 18px/1 "Umbrage", "Open Sans", Arial, sans-serif;
  }
  .main-header .topnav-wrap .main-nav li.lang-wrap .lang-toggle {
    float: none;
    display: inline-block;
  }
  .main-header .topnav-wrap .main-nav li.lang-wrap .lang-nav a {
    margin-bottom: 6px;
  }
  .main-header .topnav-wrap .main-nav li.lang-wrap.in .lang-toggle, .main-header .topnav-wrap .main-nav li.lang-wrap.in .lang-nav {
    background: rgba(67, 69, 74, 0.3);
  }
}
@media screen and (max-width: 767px) {
  .intro-wrap {
    height: auto;
    background: #0a1c20 url(../img/intro-bg.jpg) no-repeat top center scroll;
    background-size: cover;
  }
  .intro-wrap:before {
    background-attachment: scroll;
  }
  .bg-wrapper {
    display: none;
  }
  .intro-wrap .intro-inner-wrap {
    padding-top: 40px;
  }
  .intro-wrap .intro-inner-wrap .img-wrap img {
    width: 240px;
  }

  .content-wrap {
    padding: 40px 0;
  }

  .features-list .features-box {
    width: 100%;
    float: left;
    position: relative;
    text-align: center;
    margin-bottom: 40px;
  }
  .features-list .features-box .icon-box {
    float: none;
    display: inline-block;
  }

  .small-features-list .small-feature {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 40px;
  }

  .stats-list .stats-box {
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 40px;
  }

  .award-medal-wrap [class*="col-"] {
    height: auto;
    text-align: center !important;
    margin-bottom: 20px;
    padding: 0 10px;
  }
  .award-medal-wrap [class*="col-"]:last-child {
    margin-bottom: 0;
  }

  .book-now-wrap {
    padding: 40px 0;
    text-align: center;
  }
  .book-now-wrap .book-now-title {
    text-align: center;
    margin-bottom: 28px;
  }
  .book-now-wrap .book-now-btn {
    float: none;
    display: inline-block;
  }

  .tripadvisor-img {
    max-width: 200px;
  }

  .testimonials-slider-wrap {
    margin-top: 40px;
    text-align: center;
  }
  .testimonials-slider-wrap .bx-wrapper .bx-pager {
    text-align: center;
  }

  .main-footer {
    text-align: center;
  }
  .main-footer .logo {
    float: none;
    display: inline-block;
  }
  .main-footer .social-nav {
    width: 100%;
  }
  .main-footer .social-nav a {
    float: none;
    display: inline-block;
  }
}
