.section-headline {
  width: 100%;
  float: left;
  position: relative;
  text-align: center;
  color: #2b2e34;
  font: 400 38px/1 "Umbrage", "Open Sans", Arial, sans-serif;
  margin-bottom: 10px;
}
.desktop-hidden {
  display: none;
}
@media only screen and (max-width: 767px) {
  .section-headline {
    font-size: 32px;
  }
  .desktop-hidden {
    display: block;
  }
}
.section-headline.white {
  color: #fff;
}

.subheadline {
  width: 100%;
  float: left;
  position: relative;
  text-align: center;
  color: #fdb713;
  font: 700 18px/1.2 "Open Sans", Arial, sans-serif;
  margin-bottom: 14px;
}

.text {
  width: 100%;
  float: left;
  position: relative;
  font: 400 14px/1.5 "Open Sans", Arial, sans-serif;
  color: #999;
}
.text.big {
  font-size: 21px;
  font-weight: 300;
}
@media only screen and (max-width: 767px) {
  .text.big {
    font-size: 18px;
  }
}
.text + .text {
  margin-top: 18px;
}

.box-headline {
  width: 100%;
  float: left;
  position: relative;
  font: 700 21px/1.1 "Open Sans", Arial, sans-serif;
  color: #2b2e34;
  padding-bottom: 2px;
}
.box-headline.big {
  border-bottom: 2px solid #2b2e34;
  margin-bottom: 20px;
}

.small-headline {
  width: 100%;
  float: left;
  position: relative;
  font: 700 14px/1 "Open Sans", Arial, sans-serif;
  color: #222;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.yellow-btn {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #fdb713;
  font: 700 17px/1 "Open Sans", Arial, sans-serif;
  background: transparent;
  text-transform: uppercase;
  color: #fdb713;
  outline: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.yellow-btn:hover {
  color: #fff;
  background: #fdb713;
}

.white-btn {
  display: inline-block;
  padding: 8px 15px;
  border: 1px solid #fff;
  font: 700 17px/1 "Open Sans", Arial, sans-serif;
  background: transparent;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.white-btn:hover {
  background: #fff;
  color: #111;
}

@media screen and (min-width: 768px) {
  .white-btn.intro {
    background: rgba(255,255,255,0.5);
    color: #202d55;
    border-color: #202d55;
    box-shadow: 0 0 14px rgba(0,0,0,0.3);
    position: relative;
    float: right;
    margin-right: 10px;
    width: 220px;
  }
  .white-btn.intro:hover {
    background: #202d55;
    color: #fff;
  }
  .award-box {
    float: right;
    margin-right: 10px;
  }
}


.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-border {
  border: 0 !important;
}

.no-bg {
  background: transparent !important;
}

.margin20top {
  margin-top: 20px;
}

.margin20bottom {
  margin-bottom: 20px;
}

.margin40top {
  margin-top: 40px;
}

.margin40bottom {
  margin-bottom: 40px;
}

.margin80top {
  margin-top: 80px;
}

.margin80bottom {
  margin-bottom: 80px;
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

.box {
  width: 100%;
  float: left;
}

.hidden {
  display: none;
}

.a-left {
  text-align: left !important;
}

.a-center {
  text-align: center !important;
}

.a-right {
  text-align: right !important;
}

[class^="pe-7s-"], [class*=" pe-7s-"] {
  display: inline-block;
  font-family: 'Pe-icon-7-stroke';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pe-7s-album:before {
  content: "\e6aa";
}

.pe-7s-arc:before {
  content: "\e6ab";
}

.pe-7s-back-2:before {
  content: "\e6ac";
}

.pe-7s-bandaid:before {
  content: "\e6ad";
}

.pe-7s-car:before {
  content: "\e6ae";
}

.pe-7s-diamond:before {
  content: "\e6af";
}

.pe-7s-door-lock:before {
  content: "\e6b0";
}

.pe-7s-eyedropper:before {
  content: "\e6b1";
}

.pe-7s-female:before {
  content: "\e6b2";
}

.pe-7s-gym:before {
  content: "\e6b3";
}

.pe-7s-hammer:before {
  content: "\e6b4";
}

.pe-7s-headphones:before {
  content: "\e6b5";
}

.pe-7s-helm:before {
  content: "\e6b6";
}

.pe-7s-hourglass:before {
  content: "\e6b7";
}

.pe-7s-leaf:before {
  content: "\e6b8";
}

.pe-7s-magic-wand:before {
  content: "\e6b9";
}

.pe-7s-male:before {
  content: "\e6ba";
}

.pe-7s-map-2:before {
  content: "\e6bb";
}

.pe-7s-next-2:before {
  content: "\e6bc";
}

.pe-7s-paint-bucket:before {
  content: "\e6bd";
}

.pe-7s-pendrive:before {
  content: "\e6be";
}

.pe-7s-photo:before {
  content: "\e6bf";
}

.pe-7s-piggy:before {
  content: "\e6c0";
}

.pe-7s-plugin:before {
  content: "\e6c1";
}

.pe-7s-refresh-2:before {
  content: "\e6c2";
}

.pe-7s-rocket:before {
  content: "\e6c3";
}

.pe-7s-settings:before {
  content: "\e6c4";
}

.pe-7s-shield:before {
  content: "\e6c5";
}

.pe-7s-smile:before {
  content: "\e6c6";
}

.pe-7s-usb:before {
  content: "\e6c7";
}

.pe-7s-vector:before {
  content: "\e6c8";
}

.pe-7s-wine:before {
  content: "\e6c9";
}

.pe-7s-cloud-upload:before {
  content: "\e68a";
}

.pe-7s-cash:before {
  content: "\e68c";
}

.pe-7s-close:before {
  content: "\e680";
}

.pe-7s-bluetooth:before {
  content: "\e68d";
}

.pe-7s-cloud-download:before {
  content: "\e68b";
}

.pe-7s-way:before {
  content: "\e68e";
}

.pe-7s-close-circle:before {
  content: "\e681";
}

.pe-7s-id:before {
  content: "\e68f";
}

.pe-7s-angle-up:before {
  content: "\e682";
}

.pe-7s-wristwatch:before {
  content: "\e690";
}

.pe-7s-angle-up-circle:before {
  content: "\e683";
}

.pe-7s-world:before {
  content: "\e691";
}

.pe-7s-angle-right:before {
  content: "\e684";
}

.pe-7s-volume:before {
  content: "\e692";
}

.pe-7s-angle-right-circle:before {
  content: "\e685";
}

.pe-7s-users:before {
  content: "\e693";
}

.pe-7s-angle-left:before {
  content: "\e686";
}

.pe-7s-user-female:before {
  content: "\e694";
}

.pe-7s-angle-left-circle:before {
  content: "\e687";
}

.pe-7s-up-arrow:before {
  content: "\e695";
}

.pe-7s-angle-down:before {
  content: "\e688";
}

.pe-7s-switch:before {
  content: "\e696";
}

.pe-7s-angle-down-circle:before {
  content: "\e689";
}

.pe-7s-scissors:before {
  content: "\e697";
}

.pe-7s-wallet:before {
  content: "\e600";
}

.pe-7s-safe:before {
  content: "\e698";
}

.pe-7s-volume2:before {
  content: "\e601";
}

.pe-7s-volume1:before {
  content: "\e602";
}

.pe-7s-voicemail:before {
  content: "\e603";
}

.pe-7s-video:before {
  content: "\e604";
}

.pe-7s-user:before {
  content: "\e605";
}

.pe-7s-upload:before {
  content: "\e606";
}

.pe-7s-unlock:before {
  content: "\e607";
}

.pe-7s-umbrella:before {
  content: "\e608";
}

.pe-7s-trash:before {
  content: "\e609";
}

.pe-7s-tools:before {
  content: "\e60a";
}

.pe-7s-timer:before {
  content: "\e60b";
}

.pe-7s-ticket:before {
  content: "\e60c";
}

.pe-7s-target:before {
  content: "\e60d";
}

.pe-7s-sun:before {
  content: "\e60e";
}

.pe-7s-study:before {
  content: "\e60f";
}

.pe-7s-stopwatch:before {
  content: "\e610";
}

.pe-7s-star:before {
  content: "\e611";
}

.pe-7s-speaker:before {
  content: "\e612";
}

.pe-7s-signal:before {
  content: "\e613";
}

.pe-7s-shuffle:before {
  content: "\e614";
}

.pe-7s-shopbag:before {
  content: "\e615";
}

.pe-7s-share:before {
  content: "\e616";
}

.pe-7s-server:before {
  content: "\e617";
}

.pe-7s-search:before {
  content: "\e618";
}

.pe-7s-film:before {
  content: "\e6a5";
}

.pe-7s-science:before {
  content: "\e619";
}

.pe-7s-disk:before {
  content: "\e6a6";
}

.pe-7s-ribbon:before {
  content: "\e61a";
}

.pe-7s-repeat:before {
  content: "\e61b";
}

.pe-7s-refresh:before {
  content: "\e61c";
}

.pe-7s-add-user:before {
  content: "\e6a9";
}

.pe-7s-refresh-cloud:before {
  content: "\e61d";
}

.pe-7s-paperclip:before {
  content: "\e69c";
}

.pe-7s-radio:before {
  content: "\e61e";
}

.pe-7s-note2:before {
  content: "\e69d";
}

.pe-7s-print:before {
  content: "\e61f";
}

.pe-7s-network:before {
  content: "\e69e";
}

.pe-7s-prev:before {
  content: "\e620";
}

.pe-7s-mute:before {
  content: "\e69f";
}

.pe-7s-power:before {
  content: "\e621";
}

.pe-7s-medal:before {
  content: "\e6a0";
}

.pe-7s-portfolio:before {
  content: "\e622";
}

.pe-7s-like2:before {
  content: "\e6a1";
}

.pe-7s-plus:before {
  content: "\e623";
}

.pe-7s-left-arrow:before {
  content: "\e6a2";
}

.pe-7s-play:before {
  content: "\e624";
}

.pe-7s-key:before {
  content: "\e6a3";
}

.pe-7s-plane:before {
  content: "\e625";
}

.pe-7s-joy:before {
  content: "\e6a4";
}

.pe-7s-photo-gallery:before {
  content: "\e626";
}

.pe-7s-pin:before {
  content: "\e69b";
}

.pe-7s-phone:before {
  content: "\e627";
}

.pe-7s-plug:before {
  content: "\e69a";
}

.pe-7s-pen:before {
  content: "\e628";
}

.pe-7s-right-arrow:before {
  content: "\e699";
}

.pe-7s-paper-plane:before {
  content: "\e629";
}

.pe-7s-delete-user:before {
  content: "\e6a7";
}

.pe-7s-paint:before {
  content: "\e62a";
}

.pe-7s-bottom-arrow:before {
  content: "\e6a8";
}

.pe-7s-notebook:before {
  content: "\e62b";
}

.pe-7s-note:before {
  content: "\e62c";
}

.pe-7s-next:before {
  content: "\e62d";
}

.pe-7s-news-paper:before {
  content: "\e62e";
}

.pe-7s-musiclist:before {
  content: "\e62f";
}

.pe-7s-music:before {
  content: "\e630";
}

.pe-7s-mouse:before {
  content: "\e631";
}

.pe-7s-more:before {
  content: "\e632";
}

.pe-7s-moon:before {
  content: "\e633";
}

.pe-7s-monitor:before {
  content: "\e634";
}

.pe-7s-micro:before {
  content: "\e635";
}

.pe-7s-menu:before {
  content: "\e636";
}

.pe-7s-map:before {
  content: "\e637";
}

.pe-7s-map-marker:before {
  content: "\e638";
}

.pe-7s-mail:before {
  content: "\e639";
}

.pe-7s-mail-open:before {
  content: "\e63a";
}

.pe-7s-mail-open-file:before {
  content: "\e63b";
}

.pe-7s-magnet:before {
  content: "\e63c";
}

.pe-7s-loop:before {
  content: "\e63d";
}

.pe-7s-look:before {
  content: "\e63e";
}

.pe-7s-lock:before {
  content: "\e63f";
}

.pe-7s-lintern:before {
  content: "\e640";
}

.pe-7s-link:before {
  content: "\e641";
}

.pe-7s-like:before {
  content: "\e642";
}

.pe-7s-light:before {
  content: "\e643";
}

.pe-7s-less:before {
  content: "\e644";
}

.pe-7s-keypad:before {
  content: "\e645";
}

.pe-7s-junk:before {
  content: "\e646";
}

.pe-7s-info:before {
  content: "\e647";
}

.pe-7s-home:before {
  content: "\e648";
}

.pe-7s-help2:before {
  content: "\e649";
}

.pe-7s-help1:before {
  content: "\e64a";
}

.pe-7s-graph3:before {
  content: "\e64b";
}

.pe-7s-graph2:before {
  content: "\e64c";
}

.pe-7s-graph1:before {
  content: "\e64d";
}

.pe-7s-graph:before {
  content: "\e64e";
}

.pe-7s-global:before {
  content: "\e64f";
}

.pe-7s-gleam:before {
  content: "\e650";
}

.pe-7s-glasses:before {
  content: "\e651";
}

.pe-7s-gift:before {
  content: "\e652";
}

.pe-7s-folder:before {
  content: "\e653";
}

.pe-7s-flag:before {
  content: "\e654";
}

.pe-7s-filter:before {
  content: "\e655";
}

.pe-7s-file:before {
  content: "\e656";
}

.pe-7s-expand1:before {
  content: "\e657";
}

.pe-7s-exapnd2:before {
  content: "\e658";
}

.pe-7s-edit:before {
  content: "\e659";
}

.pe-7s-drop:before {
  content: "\e65a";
}

.pe-7s-drawer:before {
  content: "\e65b";
}

.pe-7s-download:before {
  content: "\e65c";
}

.pe-7s-display2:before {
  content: "\e65d";
}

.pe-7s-display1:before {
  content: "\e65e";
}

.pe-7s-diskette:before {
  content: "\e65f";
}

.pe-7s-date:before {
  content: "\e660";
}

.pe-7s-cup:before {
  content: "\e661";
}

.pe-7s-culture:before {
  content: "\e662";
}

.pe-7s-crop:before {
  content: "\e663";
}

.pe-7s-credit:before {
  content: "\e664";
}

.pe-7s-copy-file:before {
  content: "\e665";
}

.pe-7s-config:before {
  content: "\e666";
}

.pe-7s-compass:before {
  content: "\e667";
}

.pe-7s-comment:before {
  content: "\e668";
}

.pe-7s-coffee:before {
  content: "\e669";
}

.pe-7s-cloud:before {
  content: "\e66a";
}

.pe-7s-clock:before {
  content: "\e66b";
}

.pe-7s-check:before {
  content: "\e66c";
}

.pe-7s-chat:before {
  content: "\e66d";
}

.pe-7s-cart:before {
  content: "\e66e";
}

.pe-7s-camera:before {
  content: "\e66f";
}

.pe-7s-call:before {
  content: "\e670";
}

.pe-7s-calculator:before {
  content: "\e671";
}

.pe-7s-browser:before {
  content: "\e672";
}

.pe-7s-box2:before {
  content: "\e673";
}

.pe-7s-box1:before {
  content: "\e674";
}

.pe-7s-bookmarks:before {
  content: "\e675";
}

.pe-7s-bicycle:before {
  content: "\e676";
}

.pe-7s-bell:before {
  content: "\e677";
}

.pe-7s-battery:before {
  content: "\e678";
}

.pe-7s-ball:before {
  content: "\e679";
}

.pe-7s-back:before {
  content: "\e67a";
}

.pe-7s-attention:before {
  content: "\e67b";
}

.pe-7s-anchor:before {
  content: "\e67c";
}

.pe-7s-albums:before {
  content: "\e67d";
}

.pe-7s-alarm:before {
  content: "\e67e";
}

.pe-7s-airplay:before {
  content: "\e67f";
}

.main-wrapper {
  width: 100%;
  float: left;
  position: relative;
}

.site-container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.site-container:before, .site-container:after {
  content: "";
  display: table;
}
.site-container:after {
  clear: both;
}
.site-container.small {
  max-width: 820px;
}

/* === Main Header === */
.header-overlay {
  width: 100%;
  float: left;
  position: relative;
  background: #222;
  height: 72px;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background: transparent;
  padding: 10px 15px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.main-header.fixed, .main-header.permanent {
  background: rgba(43, 46, 52, 0.65);
}
.main-header.fixed .main-nav li a, .main-header.permanent .main-nav li a {
  text-shadow: none;
}
.main-header .logo {
  float: left;
  position: relative;
  z-index: 1002;
}
.main-header .logo img {
  float: left;
  width: 260px;
}
.main-header .main-nav {
  float: right;
  padding: 16px 0;
}
.main-header .main-nav li {
  float: left;
}
.main-header .main-nav li a {
  float: left;
  font: 700 14px/1 "Open Sans", Arial, sans-serif;
  color: #eaeaea;
  padding: 10px 15px;
  text-transform: capitalize;
  text-shadow: 0 0 6px #363535;
}
.main-header .main-nav li a:hover {
  color: #fdb713;
}
.main-header .main-nav li.lang-wrap {
  position: relative;
}
.main-header .main-nav li.lang-wrap.in .lang-toggle {
  background: #43454a;
}
.main-header .main-nav li.lang-wrap.in .lang-nav {
  visibility: visible;
  opacity: 1;
  z-index: 9;
  pointer-events: auto;
}
.main-header .main-nav li.lang-wrap .lang-toggle {
  color: #eaeaea;
  font-size: 20px;
  float: right;
  padding: 3px 15px;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.main-header .main-nav li.lang-wrap .lang-toggle:hover {
  color: #fdb713;
}
.main-header .main-nav li.lang-wrap .lang-nav {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  position: absolute;
  top: 33px;
  right: 0;
  padding: 6px;
  width: 100%;
  background: #43454a;
  text-align: center;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.main-header .main-nav li.lang-wrap .lang-nav a {
  float: left;
  width: 100%;
  font: 400 14px/1 "Open Sans", Arial, sans-serif;
  color: #eaeaea;
  padding: 4px 0;
  text-transform: uppercase;
}
.main-header .main-nav li.lang-wrap .lang-nav a:hover, .main-header .main-nav li.lang-wrap .lang-nav a.active {
  color: #fdb713;
}
.main-header .topnav-toggle {
  display: none;
  float: right;
  font: 400 32px/1 'iconset';
  color: #fff;
  margin-top: 4px;
  position: relative;
  z-index: 1002;
}
.main-header .topnav-toggle:before {
  content: '\e80a';
}
.main-header .topnav-toggle.in:before {
  content: '\e80b';
}

/* === Intro Wrap === */
.intro-wrap {
  width: 100%;
  float: left;
  position: relative;
  height: 100vh;
  background: #0a1c20;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
}
.intro-wrap:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: 100%;
  width: 100%;
  /*background: rgba(0,0,0,0.05) url(../img/dot.png) repeat top left fixed;*/
}
.intro-wrap .intro-inner-wrap {
  float: left;
  width: 100%;
  height: 100vh;
  display: table;
  position: relative;
  z-index: 4;
  text-align: center;
  padding-top: 74px;
}
.intro-wrap .intro-inner-wrap .intro-box {
  display: table-cell;
  vertical-align: middle;
}
.intro-wrap .intro-inner-wrap .img-wrap {
  width: 100%;
  float: left;
  position: relative;
}
.intro-wrap .intro-inner-wrap .intro-headline {
  width: 100%;
  float: left;
  position: relative;
  font: 700 18px/1.2 "Open Sans", Arial, sans-serif;
  color: #fff;
}

/* === Content Wrap === */
.content-wrap {
  width: 100%;
  float: left;
  position: relative;
  background: #2b2e34;
  padding: 90px 0;
}
.content-wrap.white {
  background: #fff;
}

.who-can-play {
  background: #2b2e34 url(../img/mad.png) no-repeat top center;
  -webkit-background-size: cover;
  background-size: cover;
}
.who-can-play:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7) url(../img/dot.png) repeat top left fixed;
}

/* === Features List === */
.features-list:before, .features-list:after {
  content: "";
  display: table;
}
.features-list:after {
  clear: both;
}
.features-list .features-box {
  text-align: center;
}
.features-list .features-box .icon-box {
  display: inline-block;
  width: 138px;
  height: 138px;
  background-color: #fdb713;
  text-align: center;
  margin-bottom: 20px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
}
.features-list .features-box .icon-box [class*="pe-7s-"] {
  font-size: 56px;
  color: #666;
  line-height: 138px;
}
.features-list .features-box .headline {
  width: 100%;
  float: left;
  position: relative;
  font: 800 23px/1 "Open Sans", Arial, sans-serif;
  color: #2b2e34;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.small-features-list .small-feature {
  text-align: center;
}
.small-features-list .small-feature .icon-box {
  width: 100%;
  float: left;
  position: relative;
  margin-bottom: 20px;
}
.small-features-list .small-feature .icon-box [class*="pe-7s-"] {
  font-size: 70px;
  color: #fdb713;
}
.small-features-list .small-feature .headline {
  width: 100%;
  float: left;
  position: relative;
  margin-bottom: 10px;
  font: 700 18px/1.2 "Open Sans", Arial, sans-serif;
  color: #fff;
  text-transform: capitalize;
}

/* === Stats box === */
.stats-list .stats-box {
  text-align: center;
}
.stats-list .stats-box .stats-number {
  width: 100%;
  float: left;
  position: relative;
  font: 400 70px/1 "Umbrage", "Open Sans", Arial, sans-serif;
  color: #2b2e34;
  margin-bottom: 16px;
}
.stats-list .stats-box .stats-name {
  width: 100%;
  float: left;
  position: relative;
  font: 700 14px/1 "Open Sans", Arial, sans-serif;
  color: #999;
  margin-bottom: 16px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}
.stats-list .stats-box .icon-box {
  width: 100%;
  float: left;
  position: relative;
}
.stats-list .stats-box .icon-box [class*="pe-7s-"] {
  color: #fdb713;
  font-size: 32px;
}

#award_box {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
#award_box.visible {
  opacity: 1;
  visibility: visible;
}

.award-box-wrap {
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 3;
  width: 100%;
}
.award-box {
  position: relative;
  display: inline-block;
  width: auto;
  padding-left: 30px;
  min-height: 94px;
}
.award-box .medal {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    width: 78px;
}
.award-box #TA_excellent511 {
  padding-left: 38px;
  background: #589442;
  margin: 0 !important;
}
.award-box #CDSWIDEXC {
  margin-right: 0 !important;
  width: 220px !important;
}
.award-box #CDSWIDEXC.widEXC .bravoBox .bravoWrapper .bravoText,
.award-box #CDSWIDEXC .widEXCLINK a {
  font-family: "Open Sans", Arial, sans-serif !important;
}

/* === Award Medal Wrapper === */
.award-medal-wrap {
  width: 100%;
  float: left;
  position: relative;
  padding: 40px 0;
  background: #fdb713;
}
.award-medal-wrap [class*="col-"] {
  display: table;
  height: 94px;
}
.award-medal-wrap [class*="col-"] .inner-wrap {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
.award-medal-wrap .medal-img {
  height: 90px;
  display: inline-block;
}
.award-medal-wrap .award-medal-title {
  width: 100%;
  float: left;
  position: relative;
  text-align: center;
  font: 800 18px/1.2 "Open Sans", Arial, sans-serif;
  color: #2b2e34;
}
.award-medal-wrap .read-more-btn {
  display: inline-block;
  padding: 8px 15px;
  border: 1px solid #fff;
  font: 700 17px/1 "Open Sans", Arial, sans-serif;
  background: transparent;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.award-medal-wrap .read-more-btn:hover {
  background: #fff;
  color: #fdb713;
}

/* === Book Now Wrapper === */
.book-now-wrap {
  width: 100%;
  float: left;
  position: relative;
  padding: 100px 0;
  background: #fdb713;
}
.book-now-wrap .book-now-title {
  width: 100%;
  float: left;
  position: relative;
  text-align: right;
  font: 800 18px/1.2 "Open Sans", Arial, sans-serif;
  color: #2b2e34;
}
.book-now-wrap .book-now-btn {
  display: inline-block;
  padding: 8px 15px;
  border: 1px solid #fff;
  font: 700 17px/1 "Open Sans", Arial, sans-serif;
  background: transparent;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.book-now-wrap .book-now-btn:hover {
  background: #fff;
  color: #fdb713;
}

/* === Testimonials === */
.testimonials-headline {
  font: 700 17px/1.1 "Open Sans", Arial, sans-serif;
  color: #333;
}

.testimonials-slider-wrap {
  width: 100%;
  float: left;
  position: relative;
}
.testimonials-slider-wrap .testimonials-slider {
  width: 100%;
  float: left;
  position: relative;
}
.testimonials-slider-wrap .testimonials-slider li {
  float: left;
}
.testimonials-slider-wrap .testimonials-slider li .headline {
  width: 100%;
  float: left;
  position: relative;
  font: 800 22px/1.2 "Open Sans", Arial, sans-serif;
  color: #666;
  margin-bottom: 18px;
}
.testimonials-slider-wrap .testimonials-slider li .author {
  width: 100%;
  float: left;
  position: relative;
  margin-top: 20px;
  font: 800 16px/1 "Open Sans", Arial, sans-serif;
  color: #666;
}

/* === Contact Page === */
.map-wrap {
  width: 100%;
  float: left;
  position: relative;
  height: 340px;
}
.map-wrap .map-canvas {
  width: 100%;
  float: left;
  position: relative;
  height: 100%;
}

.contacts-box {
  width: 100%;
  float: left;
  position: relative;
  padding-top: 40px;
}
@media only screen and (max-width: 767px) {
  .contacts-box {
    padding-top: 0;
  }
}
.contacts-box .contactbox {
  width: 100%;
  float: left;
  position: relative;
  display: table;
  margin-bottom: 30px;
}
.contacts-box .contactbox .icon {
  display: table-cell;
  vertical-align: middle;
  margin-right: 10px;
  width: 20%;
}
.contacts-box .contactbox .icon [class*="pe-7s-"] {
  color: #fdb713;
  font-size: 42px;
}
.contacts-box .contactbox .caption {
  display: table-cell;
  vertical-align: middle;
}

.contact-form {
  width: 100%;
  float: left;
  position: relative;
}
.contact-form .form-label {
  width: 100%;
  float: left;
  position: relative;
  font: 700 14px/1.1 "Open Sans", Arial, sans-serif;
  color: #666;
  margin-bottom: 8px;
}
.contact-form .field {
  width: 100%;
  float: left;
  position: relative;
  background: #f4f4f4;
  border: 1px solid #e4e4e4;
  padding: 9px 10px;
  height: 40px;
  font: 400 14px/1 "Open Sans", Arial, sans-serif;
  color: #111;
  margin-bottom: 14px;
}
.contact-form .field.textarea {
  height: 220px;
}
.contact-form .submit {
  text-transform: none;
}

/* === FAQ === */
.faq-wrap {
  width: 100%;
  float: left;
  position: relative;
  padding: 90px 0;
  min-height: 100vh;
  background: #888 url(../img/faq_bg.png) no-repeat 50%;
  -webkit-background-size: cover;
  background-size: cover;
}
.faq-wrap:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.65) url(../img/dot.png) repeat top left fixed;
}
.faq-wrap .site-container {
  position: relative;
  z-index: 2;
}
.faq-wrap .panel-heading {
  padding: 0;
  background-color: transparent;
  border: 0;
}
.faq-wrap .panel-default {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}
@media only screen and (max-width: 767px) {
  .faq-wrap .panel-default {
    margin-top: 0;
  }
}
.faq-wrap .panel-title a {
  font: 700 18px/1.2 "Open Sans", Arial, sans-serif;
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 12px 15px 12px 30px;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .faq-wrap .panel-title a {
    font-size: 15px;
  }
}
.faq-wrap .panel-title a:hover {
  color: #fdb713;
}
.faq-wrap .panel-title a:before {
  content: "-";
  display: block;
  position: absolute;
  top: 13px;
  left: 15px;
}
.faq-wrap .panel-title a.collapsed:before {
  content: "+";
}
.faq-wrap .panel-body {
  border: 0 !important;
  padding-left: 30px;
  padding-top: 6px;
  background-color: transparent;
}
.faq-wrap .panel-body .text {
  color: #eee;
  font-weight: 400;
}

/* === Games Boxes === */
.games-layout-wrap .games-box {
  margin-bottom: 40px;
}
.games-layout-wrap .item figure {
  position: relative;
  overflow: hidden;
  height: auto;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
  float: left;
  width: 100%;
}
.games-layout-wrap .item figure img {
  position: relative;
  display: block;
  max-width: 100%;
  opacity: 0.8;
}
.games-layout-wrap .item i {
  color: #fdb713;
}
.games-layout-wrap .item figure figcaption {
  color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
}
.games-layout-wrap .item figure figcaption::before, .games-layout-wrap .item figure figcaption::after {
  pointer-events: none;
}
.games-layout-wrap .item figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
}
.games-layout-wrap .item figure.effect-apollo {
  background: #2b2e34;
}
.games-layout-wrap .item figure.effect-apollo img {
  opacity: 0.95;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale3d(1.05, 1.05, 1);
  transform: scale3d(1.05, 1.05, 1);
}
.games-layout-wrap .item figure.effect-apollo figcaption::before {
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 120%;
  background: rgba(255, 255, 255, 0.5);
  content: '';
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
}
.games-layout-wrap .item figure.effect-apollo p {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 30%;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
  font-size: 15px;
}
.games-layout-wrap .item figure.effect-apollo:hover img {
  opacity: 0.35;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.games-layout-wrap .item figure.effect-apollo:hover figcaption::before {
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
}
.games-layout-wrap .item figure.effect-apollo:hover p {
  color: #fff;
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.games-layout-wrap .item .caption {
  width: 100%;
  float: left;
  position: relative;
  margin-top: 20px;
}
.games-layout-wrap .item .caption .headline {
  width: 100%;
  float: left;
  position: relative;
  font: 700 21px/1.2 "Open Sans", Arial, sans-serif;
  color: #666;
  margin-bottom: 12px;
}
.games-layout-wrap .item .caption .text {
  margin-bottom: 12px;
  font-weight: 400;
}
.games-layout-wrap .item .caption .yellow-btn {
  font-size: 15px;
}

/* === Conocenos Image Grid === */
.conocenos-grid {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  .conocenos-grid {
    margin: 0;
  }
}
.conocenos-grid .games-box {
  flex: 0 0 50%;
}
@media only screen and (max-width: 767px) {
  .conocenos-grid .games-box {
    flex: 0 0 100%;
  }
}
.conocenos-grid .img-responsive {
  display: inline-block;
  -webkit-box-shadow: 0 0 2px #ccc;
  -moz-box-shadow: 0 0 2px #ccc;
  box-shadow: 0 0 2px #ccc;
}

/* === One Game === */
.bg-headline-wrap {
  width: 100%;
  float: left;
  position: relative;
  display: table;
  padding-top: 70px;
  height: 400px;
  margin-bottom: 0px;
  background: #0a1c20 url(../img/one_game_bg.jpg) no-repeat 50% fixed;
  -webkit-background-size: cover;
  background-size: cover;
}
@media only screen and (max-width: 767px) {
  .bg-headline-wrap {
    padding-top: 60px;
    height: 300px;
    background-position: scroll;
  }
}
.bg-headline-wrap:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4) url(../img/dot.png) repeat top left fixed;
}
@media only screen and (max-width: 767px) {
  .bg-headline-wrap:before {
    background-position: scroll;
  }
}
.bg-headline-wrap .inner-wrap {
  display: table-cell;
  vertical-align: middle;
}
.bg-headline-wrap .inner-wrap .section-headline {
  font-size: 50px;
  letter-spacing: 4px;
}
@media only screen and (max-width: 767px) {
  .bg-headline-wrap .inner-wrap .section-headline {
    font-size: 32px;
  }
}

/* === One Room Left Col === */
.video-player-box {
  width: 100%;
  float: left;
  position: relative;
  margin-bottom: 18px;
}
.video-player-box:before {
  content: "\e604";
  display: block;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -24px;
  margin-top: -24px;
  z-index: 3;
  font-family: 'Pe-icon-7-stroke';
  color: #fff;
  font-size: 48px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.video-player-box img {
  max-width: 100%;
}
.video-player-box:hover:before {
  color: #fdb713;
}

.gallery-box {
  width: 100%;
  float: left;
  position: relative;
}
.gallery-box li {
  float: left;
  width: 49%;
  padding-bottom: 4px;
}
.gallery-box li:nth-child(odd) {
  margin-right: 2%;
}
.gallery-box li a {
  width: 100%;
  float: left;
  position: relative;
  opacity: 1;
}
.gallery-box li a:hover {
  opacity: 0.85;
}
.gallery-box li a img {
  float: left;
  width: 100%;
}

/* === Room Info Col === */
.room-info i {
  color: #fdb713;
  display: inline-block;
  vertical-align: middle;
  font-size: 56px;
}

.room-att-info {
  float: left;
  display: table;
  width: 100%;
  margin-bottom: 20px;
}
@media only screen and (max-width: 980px) {
  .room-att-info {
    width: 50%;
  }
}
@media only screen and (max-width: 767px) {
  .room-att-info {
    width: 100%;
  }
}
.room-att-info .icon, .room-att-info .room-caption {
  display: table-cell;
  vertical-align: middle;
}
.room-att-info .icon {
  padding-right: 5px;
  width: 75px;
  text-align: center;
}

.room-info h6 {
  margin-bottom: 0;
}

.widget-wrap {
  width: 100%;
  float: left;
  position: relative;
  margin-top: 40px;
}

.game-photo {
  float: left;
  width: 100%;
  margin-bottom: 28px;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 0 2px #999;
  -moz-box-shadow: 0 0 0 2px #999;
  box-shadow: 0 0 0 2px #999;
}

/* === Main Footer === */
.main-footer {
  width: 100%;
  float: left;
  position: relative;
  background: #15171a;
  padding: 20px 15px;
}
.main-footer .logo {
  float: left;
}
.main-footer .social-nav {
  float: right;
  padding-top: 4px;
}
.main-footer .social-nav a {
  float: left;
  font-size: 32px;
  color: #fff;
  margin: 0 7px;
}
.main-footer .social-nav a:hover {
  color: #fdb713;
}

#CDSWIDSSP {
  width: 100% !important;
}

.games-layout-wrap .conocenos-grid .item {
  max-height: 380px;
}

@media only screen and (max-width: 767px) {
  .games-layout-wrap .conocenos-grid .item .img-responsive {
    width: 100%;
  }
}

/* === bg wrapper === */
.bg-wrapper {
    position: absolute;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    width: 100%;
    z-index: 0;
}
.bg-wrapper video {
    bottom: 0;
    right: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (min-aspect-ratio: 16/9) {
  .bg-wrapper video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .bg-wrapper {
    padding: 0;
    height: 100%;
  }
  .bg-wrapper video {
    width: auto;
    height: 100%;
    position: relative;
    right: auto;
    bottom: auto;
    top: 0;
    left: 50%;
    transform: translate(-50%, -0);
  }
}

