@import "config/custom_settings";
@import "config/grid";

@media screen and (max-width: 1110px) {
  .header-overlay {
    height: 60px;
  }
  .main-header {
    .logo {
      max-width: 160px;
    }
    .topnav-toggle {
      display: block;
    }
    .topnav-wrap {
      display: block;
      opacity: 0;
      position: fixed;
      height: 100%;
      width: 100%;
      padding-top: 80px;
      padding-right: 0;
      background: rgba(0, 0, 0, 0.93);
      top: 0;
      left: 0;
      z-index: -1;
      pointer-events: none;
      text-align: center;
      overflow: hidden;
      @include smooth(0.3s);
      &.in {
        opacity: 1;
        pointer-events: auto;
        z-index: 1000;
      }
      .main-nav {
        @include full-width;
        height: 80vh;
        overflow: auto;
        li {
          @include full-width;
          a {
            @include full-width;
            padding: 5px 10px;
            margin-bottom: 14px;
            text-transform: uppercase;
            font: 400 18px/1 $headlineFont;
          }
          &.lang-wrap {
            .lang-toggle {
              float: none;
              display: inline-block;
            }
            .lang-nav {
              a {
                margin-bottom: 6px;
              }
            }
            &.in {
              .lang-toggle, .lang-nav {
                background: rgba(67, 69, 74, 0.3);
              }
            }
          }
        }
      }

    }
  }
}

@media screen and (max-width: 767px) {
  .intro-wrap {
    background-attachment: scroll;
    height: auto;
    &:before {
      background-attachment: scroll;
    }
    .intro-inner-wrap {
      padding-top: 40px;
      .img-wrap {
        img {
          width: 240px;
        }
      }
    }
  }
  .content-wrap {
    padding: 40px 0;
  }
  .features-list {
    .features-box {
      @include full-width;
      text-align: center;
      margin-bottom: 40px;
      .icon-box {
        float: none;
        display: inline-block;
      }
    }
  }
  .small-features-list {
    .small-feature {
      @include full-width;
      margin-bottom: 40px;
    }
  }
  .stats-list {
    .stats-box {
      @include full-width;
      margin-bottom: 40px;
    }
  }
  .award-medal-wrap {
    [class*="col-"] {
      height: auto;
      text-align: center !important;
      margin-bottom: 20px;
      padding: 0 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .book-now-wrap {
    padding: 40px 0;
    text-align: center;
    .book-now-title {
      text-align: center;
      margin-bottom: 28px;
    }
    .book-now-btn {
      float: none;
      display: inline-block;
    }
  }
  .tripadvisor-img {
    max-width: 200px;
  }
  .testimonials-slider-wrap {
    margin-top: 40px;
    text-align: center;
    .bx-wrapper .bx-pager {
      text-align: center;
    }
  }
  .main-footer {
    text-align: center;
    .logo {
      float: none;
      display: inline-block;
    }
    .social-nav {
      width: 100%;
      a {
        float: none;
        display: inline-block;
      }
    }
  }
}