@import "config/custom_settings";
@import "config/grid";
@import "chunks/components";
@import "libs/pe-icon";


.main-wrapper {
  @include full-width;
}

.site-container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  @include clearfix;
  &.small {
    max-width: 820px;
  }
}

/* === Main Header === */
.header-overlay {
  @include full-width;
  background: #222;
  height: 72px;
}
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background: transparent;
  padding: 10px 15px;
  @include smooth(0.3s);
  &.fixed, &.permanent {
    background: rgba(43,46, 52, 0.65);
    .main-nav li a {
      text-shadow: none;
    }
  }
  .logo {
    float: left;
    position: relative;
    z-index: 1002;
    img {
      float: left;
    }
  }
  .main-nav {
    float: right;
    padding: 9px 0;
    li {
      float: left;
      a {
        float: left;
        font: 700 14px/1 $baseFont;
        color: #eaeaea;
        padding: 10px 15px;
        text-transform: capitalize;
        text-shadow: 0 0 6px #363535;
        &:hover {
          color: #fdb713;
        }
      }
      &.lang-wrap {
        position: relative;
        &.in {
          .lang-toggle {
            background: #43454a;
          }
          .lang-nav {
            visibility: visible;
            opacity: 1;
            z-index: 9;
            pointer-events: auto;
          }
        }
        .lang-toggle {
          color: #eaeaea;
          font-size: 20px;
          float: right;
          padding: 3px 15px;
          @include radius(4px 4px 0 0);
          &:hover {
            color: #fdb713;
          }
        }
        .lang-nav {
          visibility: hidden;
          opacity: 0;
          pointer-events: none;
          z-index: -1;
          position: absolute;
          top: 33px;
          right: 0;
          padding: 6px;
          width: 100%;
          background: #43454a;
          text-align: center;
          @include radius(0 0 4px 4px);
          @include smooth(0.2s);
          a {
            float: left;
            width: 100%;
            font: 400 14px/1 $baseFont;
            color: #eaeaea;
            padding: 4px 0;
            text-transform: uppercase;
            &:hover, &.active {
              color: #fdb713;
            }
          }
        }
      }
    }
  }
  .topnav-toggle {
    display: none;
    float: right;
    font: 400 32px/1 'iconset';
    color: #fff;
    margin-top: 4px;
    position: relative;
    z-index: 1002;
    &:before {
      content: '\e80a';
    }
    &.in {
      &:before {
        content: '\e80b';
      }
    }
  }
}

/* === Intro Wrap === */
.intro-wrap {
  @include full-width;
  height: 100vh;
  background: #0a1c20 url(../img/intro-bg.jpg) no-repeat top center fixed;
  @include background-size(cover);
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: url(../img/dot.png) repeat top left fixed;
  }
  .intro-inner-wrap {
    float: left;
    width: 100%;
    height: 100vh;
    display: table;
    position: relative;
    z-index: 2;
    text-align: center;
    padding-top: 74px;
    .intro-box {
      display: table-cell;
      vertical-align: bottom;
    }
    .img-wrap {
      @include full-width;
    }
    .intro-headline {
      @include full-width;
      font: 700 18px/1.2 $baseFont;
      color: #fff;
    }
  }
}


/* === Content Wrap === */
.content-wrap {
  @include full-width;
  background: #2b2e34;
  padding: 90px 0;
  &.white {
    background: #fff;
  }
}

.who-can-play {
  background: #2b2e34 url(../img/mad.png) no-repeat top center;
  @include background-size(cover);
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.7) url(../img/dot.png) repeat top left fixed;
  }
}

/* === Features List === */
.features-list {
  @include clearfix;
  .features-box {
    text-align: center;
    .icon-box {
      display: inline-block;
      width: 138px;
      height: 138px;
      background-color: #fdb713;
      text-align: center;
      margin-bottom: 20px;
      @include radius(200px);
      [class*="pe-7s-"] {
        font-size: 56px;
        color: #666;
        line-height: 138px;
      }
    }
    .headline {
      @include full-width;
      font: 800 23px/1 $baseFont;
      color: #2b2e34;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
  }
}

.small-features-list {
  .small-feature {
    text-align: center;
    .icon-box {
      @include full-width;
      margin-bottom: 20px;
      [class*="pe-7s-"] {
        font-size: 70px;
        color: #fdb713;
      }
    }
    .headline {
      @include full-width;
      margin-bottom: 10px;
      font: 700 18px/1.2 $baseFont;
      color: #fff;
      text-transform: capitalize;
    }
  }
}

/* === Stats box === */
.stats-list {
  .stats-box {
    text-align: center;
    .stats-number {
      @include full-width;
      font: 400 70px/1 $headlineFont;
      color: #2b2e34;
      margin-bottom: 16px;
    }
    .stats-name {
      @include full-width;
      font: 700 14px/1 $baseFont;
      color: #999;
      margin-bottom: 16px;
      text-transform: uppercase;
      letter-spacing: 1.6px;
    }
    .icon-box {
      @include full-width;
      [class*="pe-7s-"] {
        color: #fdb713;
        font-size: 32px;
      }
    }
  }
}
#award_box {
  visibility: hidden;
  opacity: 0;
  @include smooth(0.4s);
  &.visible {
    opacity: 1;
    visibility: visible;
  }
}
.award-box {
  position: relative;
  display: inline-block;
  width: 282px;
  padding-left: 40px;
  min-height: 194px;
  .medal {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
  }
  #TA_excellent511 {
    padding-left: 72px;
    background: #589442;
    margin: 0 !important;
  }
  #CDSWIDEXC {
    margin-right: 0 !important;
    width: 160px !important;
  }
  #CDSWIDEXC.widEXC .bravoBox .bravoWrapper .bravoText,
  #CDSWIDEXC .widEXCLINK a {
    font-family: $baseFont !important;
  }
}

/* === Award Medal Wrapper === */
.award-medal-wrap {
  @include full-width;
  padding: 40px 0;
  background: #fdb713;
  [class*="col-"] {
    display: table;
    height: 94px;
    .inner-wrap {
      width: 100%;
      display: table-cell;
      vertical-align: middle;
    }
  }
  .medal-img {
    height: 90px;
    display: inline-block;
  }
  .award-medal-title {
    @include full-width;
    text-align: center;
    font: 800 18px/1.2 $baseFont;
    color: #2b2e34;
  }
  .read-more-btn {
    display: inline-block;
    padding: 8px 15px;
    border: 1px solid #fff;
    font: 700 17px/1 $baseFont;
    background: transparent;
    text-transform: uppercase;
    color: #fff;
    outline: none;
    @include smooth(0.3s);
    &:hover {
      background: #fff;
      color: #fdb713;
    }
  }
}

/* === Book Now Wrapper === */
.book-now-wrap {
  @include full-width;
  padding: 100px 0;
  background: #fdb713;
  .book-now-title {
    @include full-width;
    text-align: right;
    font: 800 18px/1.2 $baseFont;
    color: #2b2e34;
  }
  .book-now-btn {
    display: inline-block;
    padding: 8px 15px;
    border: 1px solid #fff;
    font: 700 17px/1 $baseFont;
    background: transparent;
    text-transform: uppercase;
    color: #fff;
    outline: none;
    @include smooth(0.3s);
    &:hover {
      background: #fff;
      color: #fdb713;
    }
  }
}

/* === Testimonials === */
.testimonials-headline {
  font: 700 17px/1.1 $baseFont;
  color: #333;
}
.testimonials-slider-wrap {
  @include full-width;
  .testimonials-slider {
    @include full-width;
    li {
      float: left;
      .headline {
        @include full-width;
        font: 800 22px/1.2 $baseFont;
        color: #666;
        margin-bottom: 18px;
      }
      .author {
        @include full-width;
        margin-top: 20px;
        font: 800 16px/1 $baseFont;
        color: #666;
      }
    }
  }
}


/* === Contact Page === */
.map-wrap {
  @include full-width;
  height: 340px;
  .map-canvas {
    @include full-width;
    height: 100%;
  }
}
.contacts-box {
  @include full-width;
  padding-top: 40px;
  @include sm-screen {
    padding-top: 0;
  }
  .contactbox {
    @include full-width;
    display: table;
    margin-bottom: 30px;
    .icon {
      display: table-cell;
      vertical-align: middle;
      margin-right: 10px;
      width: 20%;
      [class*="pe-7s-"] {
        color: #fdb713;
        font-size: 42px;
      }
    }
    .caption {
      display: table-cell;
      vertical-align: middle;
    }
  }
}
.contact-form {
  @include full-width;
  .form-label {
    @include full-width;
    font: 700 14px/1.1 $baseFont;
    color: #666;
    margin-bottom: 8px;
  }
  .field {
    @include full-width;
    background: #f4f4f4;
    border: 1px solid #e4e4e4;
    padding: 9px 10px;
    height: 40px;
    font: 400 14px/1 $baseFont;
    color: #111;
    margin-bottom: 14px;
    &.textarea {
      height: 220px;
    }
  }
  .submit {
    text-transform: none;
  }
}

/* === FAQ === */
.faq-wrap {
  @include full-width;
  padding: 90px 0;
  min-height: 100vh;
  background: #888 url(../img/faq_bg.png) no-repeat 50%;
  @include background-size(cover);
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.65) url(../img/dot.png) repeat top left fixed;
  }
  .site-container {
    position: relative;
    z-index: 2;
  }
  .panel-heading {
    padding: 0;
    background-color: transparent;
    border: 0;
  }
  .panel-default {
    background-color: transparent;
    border: 0;
    box-shadow: none;
    @include sm-screen {
      margin-top: 0;
    }
  }
  .panel-title a {
    font: 700 18px/1.2 $baseFont;
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 12px 15px 12px 30px;
    color: #fff;
    @include sm-screen {
      font-size: 15px;
    }
    &:hover {
      color: #fdb713;
    }
    &:before {
      content: "-";
      display: block;
      position: absolute;
      top: 13px;
      left: 15px;
    }
    &.collapsed:before {
      content: "+";
    }
  }
  .panel-body {
    border: 0 !important;
    padding-left: 30px;
    padding-top: 6px;
    background-color: transparent;
    .text {
      color: #eee;
      font-weight: 400;
    }
  }
}

/* === Games Boxes === */
.games-layout-wrap {
  .games-box {
    margin-bottom: 40px;
  }
  .item {
    figure {
      position: relative;
      overflow: hidden;
      height: auto;
      background: #3085a3;
      text-align: center;
      cursor: pointer;
      img {
        position: relative;
        display: block;
        max-width: 100%;
        opacity: 0.8;
      }
    }
    i {
      color: #fdb713;
    }
    figure {
      figcaption {
        color: #fff;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        &::before, &::after {
          pointer-events: none;
        }
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 0;
        > a {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          font-size: 0;
        }
      }
      &.effect-apollo {
        background: #2b2e34;
        img {
          opacity: 0.95;
          -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
          transition: opacity 0.35s, transform 0.35s;
          -webkit-transform: scale3d(1.05, 1.05, 1);
          transform: scale3d(1.05, 1.05, 1);
        }
        figcaption::before {
          position: absolute;
          top: -15px;
          left: 0;
          width: 100%;
          height: 120%;
          background: rgba(255, 255, 255, 0.5);
          content: '';
          -webkit-transition: -webkit-transform 0.6s;
          transition: transform 0.6s;
          -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
          transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
        }
        p {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          padding-bottom: 30%;
          opacity: 0;
          -webkit-transition: opacity 0.35s;
          transition: opacity 0.35s;
          font-size: 15px;
        }
        &:hover {
          img {
            opacity: 0.35;
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
          }
          figcaption::before {
            -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
            transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
          }
          p {
            color: #fff;
            opacity: 1;
            -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
          }
        }
      }
    }
    .caption {
      @include full-width;
      margin-top: 20px;
      .headline {
        @include full-width;
        font: 700 21px/1.2 $baseFont;
        color: #666;
        margin-bottom: 12px;
      }
      .text {
        margin-bottom: 12px;
        font-weight: 400;
      }
      .yellow-btn {
        font-size: 15px;
      }
    }
  }
}

/* === Conocenos Image Grid === */
.conocenos-grid {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 100%;
  @include sm-screen {
    margin: 0;
  }
  .games-box {
    flex: 0 0 50%;
    @include sm-screen {
      flex: 0 0 100%;
    }
  }
  .img-responsive {
    display: inline-block;
    @include shadow(0 0 2px #ccc);
  }
}

/* === One Game === */
.bg-headline-wrap {
  @include full-width;
  display: table;
  padding-top: 70px;
  height: 400px;
  margin-bottom: 0px;
  background: #0a1c20 url(../img/one_game_bg.jpg) no-repeat 50% fixed;
  @include background-size(cover);
  @include sm-screen {
    padding-top: 60px;
    height: 300px;
    background-position: scroll;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.4) url(../img/dot.png) repeat top left fixed;
    @include sm-screen {
      background-position: scroll;
    }
  }
  .inner-wrap {
    display: table-cell;
    vertical-align: middle;
    .section-headline {
      font-size: 50px;
      letter-spacing: 4px;
      @include sm-screen {
        font-size: 32px;
      }
    }
  }
}

/* === One Room Left Col === */
.video-player-box {
  @include full-width;
  margin-bottom: 18px;
  &:before {
    content: "\e604";
    display: block;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -24px;
    margin-top: -24px;
    z-index: 3;
    font-family: 'Pe-icon-7-stroke';
    color: #fff;
    font-size: 48px;
    @include smooth(0.3s);
  }
  img {
    max-width: 100%;
  }
  &:hover {
    &:before {
      color: #fdb713;
    }
  }
}

.gallery-box {
  @include full-width;
  li {
    float: left;
    width: 49%;
    padding-bottom: 4px;
    &:nth-child(odd) {
      margin-right: 2%;
    }
    a {
      @include full-width;
      opacity: 1;
      &:hover {
        opacity: 0.85;
      }
      img {
        float: left;
        width: 100%;
      }
    }
  }
}

/* === Room Info Col === */
.room-info i {
  color: #fdb713;
  display: inline-block;
  vertical-align: middle;
  font-size: 56px;
}

.room-att-info {
  float: left;
  display: table;
  width: 100%;
  margin-bottom: 20px;
  @include md-screen {
    width: 50%;
  }
  @include sm-screen {
    width: 100%;
  }
  .icon, .room-caption {
    display: table-cell;
    vertical-align: middle;
  }
  .icon {
    padding-right: 5px;
    width: 75px;
    text-align: center;
  }
}

.room-info {
  h6 {
    margin-bottom: 0;
  }
}

.widget-wrap {
  @include full-width;
  margin-top: 40px;
}

.game-photo {
  float: left;
  width: 100%;
  margin-bottom: 28px;
  border: 2px solid #fff;
  @include shadow(0 0 0 2px #999);
}
/* === Main Footer === */
.main-footer {
  @include full-width;
  background: #15171a;
  padding: 20px 15px;
  .logo {
    float: left;
  }
  .social-nav {
    float: right;
    padding-top: 4px;
    a {
      float: left;
      font-size: 32px;
      color: #fff;
      margin: 0 7px;
      &:hover {
        color: #fdb713;
      }
    }
  }
}

#CDSWIDSSP {
  width: 100% !important;
}
.games-layout-wrap .conocenos-grid .item {
  max-height: 380px;
}
.games-layout-wrap .conocenos-grid .item .img-responsive {
  @include sm-screen {
    width: 100%;
  }
}