.section-headline {
  width: 100%;
  float: left;
  position: relative;
  text-align: center;
  color: #2b2e34;
  font: 400 38px/1 "Umbrage", "Open Sans", Arial, sans-serif;
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .section-headline {
    font-size: 32px;
  }
}
.section-headline.white {
  color: #fff;
}

.subheadline {
  width: 100%;
  float: left;
  position: relative;
  text-align: center;
  color: #fdb713;
  font: 700 18px/1.2 "Open Sans", Arial, sans-serif;
  margin-bottom: 14px;
}

.text {
  width: 100%;
  float: left;
  position: relative;
  font: 400 14px/1.5 "Open Sans", Arial, sans-serif;
  color: #999;
}
.text.big {
  font-size: 21px;
  font-weight: 300;
}
@media only screen and (max-width: 767px) {
  .text.big {
    font-size: 18px;
  }
}
.text + .text {
  margin-top: 18px;
}

.box-headline {
  width: 100%;
  float: left;
  position: relative;
  font: 700 21px/1.1 "Open Sans", Arial, sans-serif;
  color: #2b2e34;
}

.small-headline {
  width: 100%;
  float: left;
  position: relative;
  font: 700 14px/1 "Open Sans", Arial, sans-serif;
  color: #222;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.yellow-btn {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #fdb713;
  font: 700 17px/1 "Open Sans", Arial, sans-serif;
  background: transparent;
  text-transform: uppercase;
  color: #fdb713;
  outline: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.yellow-btn:hover {
  color: #fff;
  background: #fdb713;
}

.white-btn {
  display: inline-block;
  padding: 8px 15px;
  border: 1px solid #fff;
  font: 700 17px/1 "Open Sans", Arial, sans-serif;
  background: transparent;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.white-btn:hover {
  background: #fff;
  color: #111;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-border {
  border: 0 !important;
}

.no-bg {
  background: transparent !important;
}

.margin20top {
  margin-top: 20px;
}

.margin20bottom {
  margin-bottom: 20px;
}

.margin40top {
  margin-top: 40px;
}

.margin40bottom {
  margin-bottom: 40px;
}

.margin80top {
  margin-top: 80px;
}

.margin80bottom {
  margin-bottom: 80px;
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

.box {
  width: 100%;
  float: left;
}

.hidden {
  display: none;
}

.a-left {
  text-align: left !important;
}

.a-center {
  text-align: center !important;
}

.a-right {
  text-align: right !important;
}
