@import "../config/custom_settings";
@import "../config/grid";


.section-headline {
  @include full-width;
  text-align: center;
  color: #2b2e34;
  font: 400 38px/1 $headlineFont;
  margin-bottom: 10px;
  @include sm-screen {
    font-size: 32px;
  }
  &.white {
    color: #fff;
  }
}
.subheadline {
  @include full-width;
  text-align: center;
  color: #fdb713;
  font: 700 18px/1.2 $baseFont;
  margin-bottom: 14px;
}
.text {
  @include full-width;
  font: 400 14px/1.5 $baseFont;
  color: #999;
  &.big {
    font-size: 21px;
    font-weight: 300;
    @include sm-screen {
      font-size: 18px;
    }
  }
  & + .text {
    margin-top: 18px;
  }
}

.box-headline {
  @include full-width;
  font: 700 21px/1.1 $baseFont;
  color: #2b2e34;
}
.small-headline {
  @include full-width;
  font: 700 14px/1 $baseFont;
  color: #222;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.yellow-btn {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid rgba(253, 183, 19, 1);
  font: 700 17px/1 "Open Sans", Arial, sans-serif;
  background: transparent;
  text-transform: uppercase;
  color: rgba(253, 183, 19, 1);
  outline: none;
  @include smooth(0.3s);
  &:hover {
    color: #fff;
    background: rgba(253, 183, 19, 1);
  }
}

.white-btn {
  display: inline-block;
  padding: 8px 15px;
  border: 1px solid #fff;
  font: 700 17px/1 $baseFont;
  background: transparent;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  @include smooth(0.3s);
  &:hover {
    background: #fff;
    color: #111;
  }
}



// Useful classes

.no-margin {margin: 0 !important;}
.no-padding {padding: 0 !important;}
.no-border {border: 0 !important;}
.no-bg {background: transparent !important;}

.margin20top {margin-top: 20px;}
.margin20bottom {margin-bottom: 20px;}
.margin40top {margin-top: 40px;}
.margin40bottom {margin-bottom: 40px;}
.margin80top {margin-top: 80px;}
.margin80bottom {margin-bottom: 80px;}

.right {float: right !important;}
.left {float: left !important;}

.box {
  width: 100%;
  float: left;
}
.hidden {display: none;}

.a-left {text-align: left !important;}
.a-center {text-align: center !important;}
.a-right {text-align: right !important;}