<footer class="main-footer">
  <div class="inner-wrap">
    <a href="#" class="logo">
      <img src="<?php echo $baseurl;?>img/logo.png" alt="Escape" />
    </a>
    <nav class="social-nav">
      <a href="https://www.facebook.com/Madmansion.Bilbao/" class="icon-facebook"></a>
      <a href="https://twitter.com/madmansionbilbo" class="icon-twitter"></a>
      <a href="https://www.instagram.com/madmansionbilbo/" class="icon-instagram"></a>
      <a href="mailto:info@madmansion.es" class="icon-mail"></a>
    </nav>
  </div>
</footer>
</div>



<script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js?v=<?php echo time();?>'></script>
<script type="text/javascript" src="<?php echo $baseurl;?>js/libs/jquery.fancybox.pack.js?v=<?php echo time();?>"></script>
<script type="text/javascript" src="<?php echo $baseurl;?>js/libs/jquery.bxslider.min.js?v=<?php echo time();?>"></script>
<script type="text/javascript" src="<?php echo $baseurl;?>js/main.js?v=<?php echo time();?>"></script>

</body>
</html>