<!doctype html>
<html>
<head>
<?php
$baseurl = 'http://www.madmansion.es/';
?>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>Mad Mansion, Que hacer en Bilbao: Juego de escape en Bilbao, un lugar diferente apasionante donde poder estar</title>
    <meta name="description" content="Mad Mansion, Que hacer en Bilbao: Juego de escape en Bilbao, un lugar diferente apasionante donde poder estar" />
    <meta name="keywords" content="Bilbao, que hacer en Bilbao, ocio, País Vasco, Euskadi, actividad, actividades, juego de escape, primeros euskadi, entretener, cosas divertidas, novedoso, jugable, jugador, Vizkaya, Bizkaia, aventura" />
    <link rel="shortcut icon" href="<?php echo $baseurl;?>img/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Abril+Fatface%3Aregular&amp;ver=4.5.3" type="text/css" media="all">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'  type='text/css'>
    <link rel="stylesheet" type="text/css" href="<?php echo $baseurl;?>css/fonts.css?v=<?php echo time();?>">
    <link rel="stylesheet" type="text/css" href="<?php echo $baseurl;?>css/normalize.css?v=<?php echo time();?>">
    <link rel="stylesheet" type="text/css" href="<?php echo $baseurl;?>css/style.css?v=<?php echo time();?>">
    <link rel="stylesheet" type="text/css" href="<?php echo $baseurl;?>css/responsive.css?v=<?php echo time();?>">
    <link rel="stylesheet" type="text/css" href="<?php echo $baseurl;?>css/libs/jquery.bxslider.css?v=<?php echo time();?>">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js?v=<?php echo time();?>"></script>
</head>
<body>
<div class="main-wrapper">
  <header class="main-header">
    <div class="inner-wrap">
      <a href="<?php echo $baseurl;?>index.php" class="logo">
        <img src="<?php echo $baseurl;?>img/logo.png" alt="Escape" />
      </a>
      <a href="#" class="topnav-toggle"></a>
      <div class="topnav-wrap">
        <ul class="main-nav">
          <li><a href="<?php echo $baseurl;?>juegos.php">Juegos</a></li>
          <li><a href="<?php echo $baseurl;?>dudas.php">Dudas</a></li>
          <li><a href="<?php echo $baseurl;?>empresas.php">Empresas</a></li>
          <li><a href="<?php echo $baseurl;?>valeRegalo.php">Vale Regalo</a></li>
          <li class="hide"><a href="<?php echo $baseurl;?>franquicias.php">Franquicias</a></li>
          <li><a href="<?php echo $baseurl;?>disenoJuegos.php">Diseñamos juegos</a></li>
          <li><a href="<?php echo $baseurl;?>conocenos.php">Conócenos</a></li>
          <li><a href="<?php echo $baseurl;?>contacto.php">Contacto</a></li>
          <li class="lang-wrap">
            <button class="lang-toggle icon-globe"></button>
            <nav class="lang-nav">
              <a href="#">EN</a>
              <a href="#" class="active">ES</a>
              <a href="#">EUS</a>
            </nav>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <!-- /.main-header -->